@use'./reset/reset';


//Colors

//Primary
$Light-Cyan: hsl(193, 38%, 86%) ;
$Neon-Green: hsl(150, 100%, 66%) ;

//Neutral 
$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Dark-Blue: hsl(218, 23%, 16%);

section{
    font-family: 'Manrope', Courier, monospace;
background-color: $Dark-Blue;
color: $Light-Cyan;
height: 100vh;
.container{
    height: 100%;
    @extend #flex;
    margin-left:auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    .card{
        position: relative  ;
        height: 330px;
        width: 40vw;
        background-color: $Dark-Grayish-Blue;
        border-radius: 12px;
        @extend #flex-col;
      span{
            height: 20%;
            width: 80%;
            @extend #flex;
            letter-spacing: 5px;
            color: $Neon-Green
        }
        p {
            text-align: center;
            @extend #flex;
            height: 40%;
            width: 80%;
            font-size: 28px;
        }
        .ligne{
            height: 20%;
            width: 80%;
            display: flex;
             align-items: center;
            justify-content: center;


        }
        .shadow{
            height: 80px;
            width: 80px;
            background-color: $Neon-Green;
            position: absolute;
            bottom: -40px;
            border-radius: 50%;
            @extend #flex;
                transition: transform 0.5s ease;

        }



    }

}
}





@media (max-width:30rem) {

    section{

        .container{
            padding: 0;
    margin: 0;
    width: 30rem;
    .card{
        margin-left: auto;margin-right: auto;
        height: 370px;
        width: 80%;

        p {
                font-size: 20px;
            }
    }

        }
    }
    
}


@media (min-width:90rem) {

    section {

        .container {

            width: 85rem;

        }
    }

}

